<h1>Listing degree_requirements</h1>

<table>
  <thead>
    <tr>
      <th>Academic program</th>
      <th>Credits</th>
      <th>Minimum grade</th>
      <th>Name</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @degree_requirements.each do |degree_requirement| %>
      <tr>
        <td><%= degree_requirement.academic_program_id %></td>
        <td><%= degree_requirement.credits %></td>
        <td><%= degree_requirement.minimum_grade %></td>
        <td><%= degree_requirement.name %></td>
        <td><%= degree_requirement.note %></td>
        <td><%= link_to 'Show', degree_requirement %></td>
        <td><%= link_to 'Edit', edit_degree_requirement_path(degree_requirement) %></td>
        <td><%= link_to 'Destroy', degree_requirement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Degree requirement', new_degree_requirement_path %>
