<p id="notice"><%= notice %></p>

<p>
  <strong>Academic program:</strong>
  <%= @degree_requirement.academic_program_id %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @degree_requirement.credits %>
</p>

<p>
  <strong>Minimum grade:</strong>
  <%= @degree_requirement.minimum_grade %>
</p>

<p>
  <strong>Name:</strong>
  <%= @degree_requirement.name %>
</p>

<p>
  <strong>Note:</strong>
  <%= @degree_requirement.note %>
</p>

<%= link_to 'Edit', edit_degree_requirement_path(@degree_requirement) %> |
<%= link_to 'Back', degree_requirements_path %>
